.buttonIcon {
  height: 1.125rem;
  width: 1.125rem;
  fill: currentColor;
  margin-right: var(--spacing-100);
}

.primaryButton {
  display: inline-flex;
  align-items: center;
  padding: var(--spacing-100) var(--spacing-400);
  background-color: var(--green-500);
  color: var(--white);
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
}

.primaryButton:hover,
.primaryButton:focus,
.primaryButton:active {
  background-color: var(--green-700);
}

@media screen and (min-width: 768px) {
  .primaryButton {
    width: 100%;
    justify-content: center;
  }
}
